.about-masterplan-wrapper {
	background-color: black;
	padding-block: 80px;
	background-image: url('../images/background/pattern/about-shape.svg'),
		url('assets/images/background/pattern/about-shape.svg');
	background-size: 98px 98px, 98px 98px;
	background-position: right top, bottom left;
	background-repeat: no-repeat, no-repeat;
	@media (max-width: 768px) {
		background-size: 78px 78px, 78px 78px;
	}
}

.about-description:last-child {
	align-self: flex-end;
}

.about-master-plan-content img {
	width: 80%;
	display: block;
	margin: 0 auto;
	@media (max-width: 768px) {
		margin: 40px auto;
	}
}

.about-master-plan-content {
	display: flex;
	flex-direction: column;
}
