.about-wrapper {
	padding-block: 80px;
	background-color: #000;
	background-image: url('/images/background/pattern/about-shape.svg');
	background-size: 98px 98px;
	background-position: right top;
	background-repeat: no-repeat;
}
