/* eslint-disable */

.wpcf7-list-item-label {
	position: relative;
	display: inline-block;
	padding: 0 0 0 2em;
	height: 1.5em;
	line-height: 1.5;
	cursor: pointer;
}

.wpcf7-list-item-label::after {
	position: absolute;
	top: 0;
	left: 0;
	display: block;
	width: 1.5em;
	height: 1.5em;
}

.wpcf7-list-item-label::before {
	width: 20px;
	height: 20px;
	border: 1px solid;
	left: 0;
	position: absolute;
	content: '';
	display: inline-block;
}

/* Transition */
.wpcf7-list-item-label::before,
.wpcf7-list-item-label::after {
	-webkit-transition: 0.25s all ease;
	-o-transition: 0.25s all ease;
	transition: 0.25s all ease;
}
/* Checkbox */
input[type='checkbox'] + .wpcf7-list-item-label::after {
	content: '';
	-webkit-transform: scale(0);
	-ms-transform: scale(0);
	-o-transform: scale(0);
	transform: scale(0);
	background-image: url('../images/icons/mark.svg');
	background-position: center;
	background-repeat: no-repeat;
	background-color: var(--yellow);
	line-height: 1.5;
	text-align: center;
}

.wpcf7-list-item-label::before,
input[type='checkbox']:checked + .wpcf7-list-item-label::before {
	background: transparent;
	border-color: #fff;
}

input[type='checkbox']:checked + .wpcf7-list-item-label::after {
	-webkit-transform: scale(1);
	-ms-transform: scale(1);
	-o-transform: scale(1);
	transform: scale(1);
}
input[type='checkbox'] {
	position: absolute;
	opacity: 0;
	z-index: 1;
}
