.banner {
	position: relative;
	height: 100%;
	z-index: -1;

	img {
		vertical-align: bottom;
		@media (max-width: 768px) {
			height: 300px;
			object-fit: cover;
		}
	}
}

.banner-content-wrapper {
	color: var(--gray);
	margin-bottom: 80px;
	@media (max-width: 768px) {
		margin-top: -100px;
		width: 100%;
		background-color: #fff;
	}
}

.banner-content {
	max-width: 800px;
	padding: 50px 70px;
	margin-top: -180px;
	background-color: #fff;
	color: var(--gray);
	@media (max-width: 768px) {
		padding: 20px 30px;
		margin-top: 0px;
	}
	.heading {
		max-width: 600px;
		margin-bottom: 50px;
	}

	.description {
		max-width: 660px;
	}

	p + p {
		margin-top: 20px;
	}
}

.banner-details {
	display: flex;
	width: 100%;
	align-items: center;
	justify-content: space-between;
}

.banner-share-wrapper {
	display: flex;
	flex-direction: column;
	margin-top: 40px;

	a {
		color: var(--yellow);
	}
	@media (max-width: 768px) {
		margin-top: 60px;
		flex-direction: row;
		align-items: center;
		justify-content: space-around;
	}
}

.banner-event-details {
	display: flex;
	list-style: none;
	margin: 0;
	padding: 0;
	flex-direction: column;
	color: var(--gray);

	li {
		padding: 40px 30px;
		border: 1px solid var(--light-gray);
		span {
			display: inline-block;
		}
		@media (max-width: 768px) {
			padding: 5px;
		}
	}

	@media (max-width: 768px) {
		flex-direction: row;
	}
}

.calendar::before {
	content: '';
	display: inline-block;
	width: 43px;
	height: 43px;
	background-image: url('/images/icons/parling.svg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	vertical-align: middle;
	margin-inline-end: 10px;
}

.time::before {
	content: '';
	display: inline-block;
	width: 43px;
	height: 43px;
	background-image: url('/images/icons/clock.svg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	vertical-align: middle;
	margin-inline-end: 10px;
}

.location::before {
	content: '';
	display: inline-block;
	width: 43px;
	height: 43px;
	background-image: url('/images/icons/location.svg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	vertical-align: middle;
	margin-inline-end: 10px;
}

.banner-email::before {
	content: '';
	display: inline-block;
	width: 28px;
	height: 28px;
	background-image: url('/images/icons/envelope.svg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	vertical-align: middle;
	margin-inline-end: 10px;
}

.banner-share {
	margin-top: 40px;
	@media (max-width: 768px) {
		margin-top: 0;
	}
}

.banner-share::before {
	content: '';
	display: inline-block;
	width: 22px;
	height: 22px;
	background-image: url('/images/icons/share.svg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	vertical-align: middle;
	margin-inline-end: 10px;
}

@media (max-width: 768px) {
	.banner-content-wrapper .cols--5 {
		display: flex;
		flex-direction: column;
	}
}
