.events-img-wrapper {
	margin-top: 140px;
}
.events-page-wrapper {
	.events-img-wrapper {
		margin-top: 0;
	}
	.centered {
		padding-block: 80px;
	}
}
.events-slider-wrapper {
	position: relative;
	background-color: #000c17;
	padding-inline-start: 80px;

	.swiper-slide {
		width: 73% !important;
		@media (max-width: 768px) {
			width: 100% !important;
		}
	}
	@media (max-width: 768px) {
		height: auto;
		padding-inline-start: 30px;
		.swiper-slide-next {
			.events-content-wrapper {
				left: -15%;
				bottom: -240px;
				position: absolute;
			}
		}
	}
}

.events-slider-wrapper::after {
	position: absolute;
	content: '';
	display: inline-block;
	width: 80px;
	height: 80px;
	background-image: url('../images/background/pattern/about-shape.svg');
	background-repeat: no-repeat;
	background-size: contain;
	left: 0;
	bottom: 0;
	z-index: 1;
}

.events-slider ul {
	padding: 0;
	margin-top: 0;
	list-style: none;
}

.events-content-wrapper {
	width: 450px;
	transition: all 0.3s ease-in-out;
	background-color: #000c17;
	color: #fff;
	position: relative;
	z-index: 1;
	margin-top: -90px;
	padding: 50px 0;

	.description {
		display: none;
	}

	.sub-title {
		margin-block: 30px;
		font-weight: bold;
	}
	@media (max-width: 768px) {
		width: 60%;
	}
}

.events-date-details ul {
	display: flex;
	align-items: center;
	margin-bottom: 20px;

	li:first-child:after {
		content: '/';
		display: inline-block;
		font-weight: bold;
		font-size: 14px;
		font-family: 'Playfair', serif;
		vertical-align: middle;
		margin-inline: 5px 20px;
	}

	li:nth-child(2) {
		margin: 0;
	}

	li:last-child {
		flex-grow: 1;
		text-align: right;
	}
	@media (max-width: 768px) {
		flex-direction: column;
		align-items: flex-start;
	}
}

.swiper-slide-next {
	.events-date-details .description {
		display: none !important;
	}
	.events-date-details .sub-title {
		margin-inline-start: 55px;
		display: block;
		margin-block: 0;
		max-width: 250px;
	}
	.events-date-details .arrow-link {
		display: none !important;
	}
	.events-date-details ul {
		margin: 0;
		li:first-child {
			display: inline;
			padding-inline-start: 20px;
		}
		li:first-child:after {
			content: '';
			background-image: url('../images/icons/Line-next.svg');
			display: inline-block;
			vertical-align: middle;
			margin-inline: 5px 20px;
			width: 15px;
			height: 30px;
			background-repeat: no-repeat;
		}
		li:nth-child(2) {
			display: block !important;
			padding-inline-start: 20px;
		}
		li:last-child {
			display: none;
		}
	}
}

.swiper-slide-active {
	.events-content-wrapper {
		margin-top: -190px;
		padding: 50px 60px;

		.description {
			display: block;
			margin: 0;
			@media (max-width: 768px) {
				display: none;
			}
		}

		.arrow-link {
			margin: 40px 0;
			display: block;
		}
		@media (max-width: 768px) {
			padding: 20px;
		}
	}
}

.events-img-wrapper img {
	width: 800px;
	height: 400px;
	object-fit: cover;
	@media (max-width: 768px) {
		width: 400px;
		height: 400px;
	}
}
