.form-contact-us-wrapper {
	background-color: #000c17;
	background-image: url('../images/background/pattern/about-shape.svg');
	background-size: 98px 98px;
	background-position: right top;
	background-repeat: no-repeat;
	padding-block: 80px;
	width: 65%;
	.col + .col {
		margin-bottom: 40px;
		@media (max-width: 768px) {
			margin-top: 50px;
			margin-bottom: 0;
		}
	}
	.cols--2 + .cols--2 {
		@media (max-width: 768px) {
			margin-top: 50px;
		}
	}
	.input-feild-max-width {
		@media (max-width: 768px) {
			margin-top: 50px;
		}
	}

	legend {
		max-width: 500px;
		margin: 0 auto 55px auto;
		@media (max-width: 768px) {
			margin-inline-start: 30px;
		}
	}

	form {
		max-width: 500px;
		margin: 0 auto;

		.input-group {
			width: 100%;
			@media (max-width: 768px) {
				width: 100%;
			}
		}
		.button-primary {
			display: block;
			float: inline-end;
		}
		.input-feild-max-width {
			width: 100%;
		}
		.input-feild.input-feild-max-width::before {
			width: 84%;
			@media (max-width: 768px) {
				width: 240px;
			}
		}
	}
	@media (max-width: 768px) {
		width: 100%;
		.button-primary {
			width: 100%;
		}
	}
}
