.home-slider__wrapper {
	/* @media (max-width: 768px) {
		padding-inline: 20px;
	} */
}
.home-slider__wrapper,
.slide {
	height: 100vh;
	width: 100%;
}
.scroll-down {
	position: absolute;
	bottom: 80px;
	color: #fff;
	left: 40px;
	transform: rotate(-90deg);
	&::before {
		content: '';
		display: inline-block;
		margin-right: 40px;
		background-image: url('/images/icons/scrolldown.svg');
		width: 20px;
		vertical-align: middle;
		height: 80px;
		background-repeat: no-repeat;
		transform: rotate(90deg);
	}
	@media (max-width: 768px) {
		font-size: 0;
		left: 0;
		bottom: 0;
	}
}
.slide {
	background-repeat: no-repeat;
	background-size: cover;
}

.home-slider-title {
	max-width: 600px;
	margin: 0 auto;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	font-family: 'Playfair', serif;

	p {
		margin-top: -50px;
		margin-bottom: 20px;
		font-size: 67px;
		line-height: 76px;
		@media (max-width: 768px) {
			padding-inline: 30px;
			font-size: 54px;
			line-height: 70px;
			margin: 0;
		}
	}

	span {
		display: block;
		font-size: 67px;
		@media (max-width: 768px) {
			padding-inline: 30px;
			line-height: 70px;
			font-size: 54px;
		}
	}

	.arrow-link--white {
		@media (max-width: 768px) {
			display: block;
			padding-inline: 30px;
		}
	}

	.swiper-container {
		width: 100% !important;
		margin-left: auto;
		margin-right: auto;
	}

	.swiper-slide {
		width: 100% !important;
		margin-right: 0 !important;
		background-size: cover;
		background-position: center;
	}
}
*:lang('ar') {
	direction: rtl;
}
