.home-happening-slider {
	margin-top: 20px;

	h1 {
		color: var(--gray);
		margin-bottom: 0;
	}
	.swiper-slide {
		width: 100% !important;
	}
	.events-img-wrapper {
		margin-top: 40px;
	}
	.events-img-wrapper img {
		width: 100%;
		object-fit: cover;
		height: 516px;
	}
	.events-content-wrapper {
		background-color: #fff;
	}
	.swiper-slide-next {
		.events-content-wrapper {
			position: absolute;
			left: -350px;
			bottom: -180px;
			@media (max-width: 768px) {
				left: -50px;
			}
		}
	}

	.events-date-details {
		color: var(--gray);
	}
}
