.news-wrapper {
	background-image: url('/images/background/pattern/small-square.svg');
	background-size: 70px 70px;
	background-position: left top;
	background-repeat: no-repeat;
	overflow: hidden;
	.mobile-only {
		text-align: center;
		margin: 60px auto 0;
	}
	.centered {
		margin-bottom: 60px;
	}
	.swiper-container {
		overflow: visible;
	}

	.swiper-slide {
		display: block;
		width: 27% !important;
		@media (max-width: 768px) {
			width: 90% !important;
			margin-left: 0px;
		}
	}

	.swiper-slide + .swiper-slide {
		margin-inline-start: 20px;
	}
}

.news-wrapper .sub-title {
	margin-bottom: 0;
	font-weight: bold;
	margin-top: 10px;
}

.news-wrapper ul {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0;
}

.news-img-wrapper img {
	height: 360px;
	object-fit: cover;
	width: auto;
	@media (max-width: 768px) {
		height: 340px;
	}
}

.news-content-wrapper {
	position: relative;
	z-index: 1;
	color: #000;
	width: 90%;
	overflow: hidden;
	padding: 0;
	background-color: #fff;
	margin-top: -110px;

	.wrapper {
		padding: 20px 40px;
	}
	@media (max-width: 768px) {
		width: 80%;
	}
}
