.shop-slider-wrapper {
	padding: 150px 0 150px 50px;
	background-image: url('../images/background/pattern/about-shape.svg');
	background-repeat: no-repeat;
	background-position: bottom left;

	h1 {
		margin-bottom: 45px;
		max-width: 340px;
		line-height: 58px;

		@media (max-width: 768px) {
			font-size: 34px;
			line-height: 45px;
			margin-inline-end: 30px;
		}
	}

	p {
		max-width: 340px;
		@media (max-width: 768px) {
			margin-inline-end: 30px;
		}
	}

	@media (max-width: 768px) {
		padding: 0 0 70px 0px;
		background-size: 70px 50px;

		img {
			margin-block: 40px;
			width: 75%;
		}
	}
}

.shop-slider {
	@media (max-width: 768px) {
		padding-bottom: 40px;
		padding-inline-start: 30px;
	}

	.swiper-slide-next {
		img {
			transform: scale(0.8);
		}
	}

	.swiper-slide-active {
		.heading,
		p {
			position: relative;
			animation: fadeIn 0.5s ease-in;
		}

		img {
			transition: all 0.5s linear;
			transform: scale(1);
		}
	}
}

@keyframes fadeIn {
	0% {
		top: 50px;
		opacity: 0;
	}

	100% {
		top: 0;
		opacity: 1;
	}
}
