.swiper-pagination-fraction {
	font-size: 28px;
}

.swiper-pagination-current {
	font-size: 43px;
}

.swiper-slide-next {
	cursor: url('/images/icons/cursor.png'), auto;
	cursor: -webkit-image-set(url('/images/icons/cursor.png') 1x, url('/images/icons/cursor.png') 2x),
		auto;
}

.ammenties-slider,
.career-banner-slider {
	position: relative;
	/* .career-title {
		color: #000;
	}
	.description {
		color: #000;
	} */
	.swiper-pagination-fraction {
		color: var(--light-gray);
		position: absolute;
		left: 80%;
		width: 80px;

		@media (max-width: 768px) {
			left: 75%;
		}
	}

	.swiper-pagination-current {
		color: var(--yellow);
	}

	.swiper-button-prev {
		top: 100%;
		background-image: url('../images/icons/prev.svg');
		background-repeat: no-repeat;
	}

	.swiper-button-next {
		top: 100%;
		left: 60px;
		background-image: url('../images/icons/next.svg');
		background-repeat: no-repeat;
	}

	.swiper-button-next::after,
	.swiper-button-prev::after {
		content: '' !important;
	}
}

.shop-slider-wrapper {
	.swiper-pagination-fraction {
		left: 30px;
		bottom: 0;
		width: auto;
	}

	.swiper-slide-active {
		position: static;
		opacity: 1;
		height: 100%;
		width: 100%;
	}

	.swiper-slide-next {
		img {
			position: absolute;
			left: -20%;
			top: 10%;
			height: 100%;
			object-fit: cover;
			width: 350px;
			opacity: 0.6;
			padding: 20px;
			border: 1px solid #ededed;

			@media (max-width: 768px) {
				width: 150px;
				top: 90%;
				left: -15%;
				height: 200px;
				object-fit: cover;
			}
		}
	}
}

.events-slider-wrapper {
	.swiper-pagination-fraction {
		bottom: 80px !important;
	}
	.events-content-wrapper .arrow-link {
		margin-bottom: 0;
		margin-top: 40px;
	}
}

.career-banner-slider {
	.swiper-pagination-fraction {
		top: 75%;
		right: 40px;

		@media (max-width: 768px) {
			top: auto;
			bottom: 0;
			left: 70%;
		}
	}

	.swiper-button-prev {
		top: 95%;
		left: 40px;

		@media (max-width: 768px) {
			top: 100%;
		}
	}

	.swiper-button-next {
		top: 95%;
		left: 80px;

		@media (max-width: 768px) {
			top: 100%;
		}
	}
}

.home-slider__wrapper {
	line-height: 40px;
	.swiper-slide-next {
		p {
			font-size: 40px;
		}
		span {
			font-size: 40px;
		}
		a {
			display: none;
		}

		.home-slider-title-wrapper {
			position: absolute;
			left: -150px;
			padding: 140px 80px;
			line-height: 20px;
			@media (max-width: 768px) {
				position: static;
			}
		}
	}
	.swiper-slide-active {
		p {
			animation: fadeIn 0.3s ease-in;
		}
		span {
			animation: fadeIn 0.5s ease-in;
		}
		.arrow-link {
			animation: fadeIn 0.7s ease-in;
		}
		p,
		span,
		.arrow-link {
			position: relative;
		}
	}
}
