.thankyou-wrapper {
	background-color: #000;
	background-image: url('/images/content/Thankyou-banner.jpg'),
		url('/images/background/pattern/about-shape.svg');
	background-size: 50%, 98px 98px;
	background-position: left, right bottom;
	background-repeat: no-repeat, no-repeat;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;

	.heading {
		font-size: 83px;
	}

	.thankyou-content {
		display: flex;
		flex-direction: column;
		justify-content: center;
		color: #fff;
		background-color: #000;
		padding: 40px;

		.description {
			margin-block: 40px;
		}
	}
}
