:lang(en) {
	.description {
		font-family: 'Century Gothic', serif;
		line-height: 26px;
		font-size: 14px;
		max-width: 440px;
		margin: 0;
	}
	.description-small {
		font-family: 'Century Gothic', serif;
		line-height: 26px;
		font-size: 12px;
	}
	.sub-title {
		font-family: 'Playfair', serif;
		margin-top: 0;
		font-size: 18px;
		margin-bottom: 25px;
	}

	.counter {
		font-family: 'Playfair', serif;
		font-size: 54px;
	}

	.counter-description {
		font-family: 'Century Gothic', serif;
		font-size: 22px;
	}

	.heading {
		font-family: 'Playfair', serif;
		font-size: 42px;
		color: inherit;
		margin: 0;
		font-weight: bold;
		@media (max-width: 768px) {
			font-size: 32px;
		}
	}

	.heading-secondary {
		color: inherit;
		font-family: 'Playfair', serif;
		font-weight: bold;
		margin: 0;
		font-size: 22px;
	}
	.heading-small {
		color: inherit;
		font-family: 'Playfair', serif;
		font-size: 14px;
		font-weight: bold;
		margin: 0;
	}
}
.career-title {
	color: inherit;
	font-size: 18px;
	font-weight: bold;
}
.arrow-link {
	font-family: 'Century Gothic', serif;
	font-size: 14px;
	line-height: 26px;
	margin: 20px 0;
	display: inline-block;

	&--yellow {
		color: var(--yellow);
		margin: 10px 0;

		&:after {
			content: '';
			width: 16px;
			height: 16px;
			display: inline-block;
			background-image: url('/images/background/pattern/arrow-yellow.svg');
			background-repeat: no-repeat;
			vertical-align: middle;
			margin: 0 10px;
		}
	}

	&--white {
		color: #fff;

		&:after {
			content: '';
			width: 16px;
			height: 16px;
			display: inline-block;
			background-image: url('/images/background/pattern/arrow-white.svg');
			background-repeat: no-repeat;
			vertical-align: middle;
			margin: 0 10px;
		}
	}
}
.square-link {
	color: var(--yellow);
	border: 1px solid var(--yellow);
	height: 45px;
	width: 216px;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
}
.category {
	background-color: var(--light-yellow);
	padding: 10px 20px;
	border-radius: 30px;
}
.category-white {
	background-color: transparent;
	padding: 10px 20px;
	border-radius: 30px;
	color: #fff;
	border: 1px solid #fff;
	cursor: pointer;
}
.category-white:hover {
	background-color: var(--yellow);
}
.centered {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
