.video-banner-wrapper {
	height: 90vh;
	position: relative;
	margin-bottom: 30vh;
	background-color: #fff;
	@media (max-width: 768px) {
		height: 120vh;
		background-repeat: no-repeat !important;
		background-size: 600px !important;
	}
}

.video-banner-content {
	background-color: #fff;
	padding: 80px;
	position: absolute;
	width: 60vw;
	color: var(--gray);
	bottom: 0;
	top: 50%;

	.description {
		max-width: 100%;
	}
	@media (max-width: 768px) {
		width: 92vw;
		padding: 40px;
		margin-top: -150px;
	}
}

.play-video-link {
	position: absolute;
	cursor: pointer;
	top: 30%;
	left: 50%;
	transform: translate(-30%, -50%);
	@media (max-width: 768px) {
		top: 20%;
		transform: translate(-20%, -50%);
	}
}

.play-video-link a {
	display: inline-block;
	font-size: 12px;
	font-family: 'Playfair', serif;
	font-weight: bold;
	vertical-align: middle;
	text-align: center;
	width: 100px;
	line-height: 100px;
	height: 100px;
	border-radius: 50%;
	background-color: #fff;
	color: var(--blue);
	transition: ease 0.3s;
	z-index: 1;
	pointer-events: all;
	@media (max-width: 768px) {
		width: 60px;
		height: 60px;
		line-height: 60px;
	}
}

.play-video-link a::before {
	content: '';
	display: inline-block;
	width: 120px;
	height: 120px;
	border: 1px solid #fff;
	position: absolute;
	top: 50%;
	left: 50%;
	z-index: -1;
	transform: translate(-50%, -50%);
	border-radius: 50%;
	@media (max-width: 768px) {
		width: 80px;
		height: 80px;
	}
}

.play-video-link a:hover::before {
	width: 125px;
	height: 125px;
}
.article {
	.video-banner-wrapper {
		margin-top: 40px;
		margin-bottom: 40px;
	}
	.play-video-link {
		top: 50%;
		transform: translateY(-50%);
	}
}
.video-banner-container {
	background-color: #fff;
}
.community-banner-wrapper {
	.video-banner-content {
		@media (max-width: 768px) {
			width: 100% !important;
			margin-top: 300px;
			position: static;
			padding: 30px;
			margin-bottom: 40px;
			img {
				width: 120px;
			}
			.centered {
				margin-block: 20px;
			}
			.heading {
				margin-block: 40px;
			}
		}
	}
}
.community-banner-wrapper .video-banner-wrapper {
	@media (max-width: 768px) {
		padding: 20px;
		width: 100vw;
		margin: 0 auto;
		background-size: 1000px !important;
		.play-video-link {
			top: 18%;
			transform: translateX(-50%);
		}
	}
}
@media (max-width: 768px) {
	.video-banner-container.container {
		padding-inline: 0;
	}
}
