.about-wrapper
	.container
		.cols.cols--2
			.col
				.about-content-wrapper
					h1.sub-title Vision
					p We envision a society where convenience, luxury and practicality is a life standard and not a complementary element. Our vision is to design, create and sustain lively communities where every inch is best utilized to guarantee a life of endless comfort to its residents, as well as providing them with healthier, cleaner, more sustainable projects that elevate their standards, and well-being.
				.about-content-wrapper
					h1.sub-title Misson
					p Our mission is to invest and develop exclusive contemporary residential and commercial properties that reflect each resident’s wants and needs. We are working on creating rather sustainable environments, not just projects.
			.col
				img(src="images/content/about-1.jpg" alt="Vision")
				img(src="images/content/about-2.jpg" alt="Mision")