.about-masterplan-wrapper
  .about-master-plan-content.container
    .about-description.animate
      h1.sub-title Space Planning & Management
      p.description Managing MEGA projects has always been PRE’s main talent in terms of optimizing, tailoring and personalizing each space available to create and demonstrate the best outcomes for our residents and clientele. 
    img.animate(src='/images/content/about-plan.png')
    .about-description.animate
      h1.sub-title  Perfect Living Environment:
      p.description Creating holistic communities where PRE partners enjoy healthy and unique environments. In each development, managing to establish a fully integrated community where every aspect aligns perfectly with PRE standards of premium quality.
    