section.light.section-padding.ammenties
  .container
    h1.heading Available Amenities:
    .ammenties-slider-wrapper
      .ammenties-slider.swiper-container
        .swiper-wrapper
          ul.swiper-slide
            li
              img(src="../images/icons/spa.svg")
              span Spa
            li
              img(src="../images/icons/spa.svg")
              span Spa
            li
              img(src="../images/icons/spa.svg")
              span Spa
            li
              img(src="../images/icons/spa.svg")
              span Spa
            li
              img(src="../images/icons/spa.svg")
              span Spa
            li
              img(src="../images/icons/spa.svg")
              span Spa
          ul.swiper-slide
            li
              img(src="../images/icons/spa.svg")
              span Spa
            li
              img(src="../images/icons/spa.svg")
              span Spa
            li
              img(src="../images/icons/spa.svg")
              span Spa
            li
              img(src="../images/icons/spa.svg")
              span Spa
            li
              img(src="../images/icons/spa.svg")
              span Spa
            li
              img(src="../images/icons/spa.svg")
              span Spa
          ul.swiper-slide
            li
              img(src="../images/icons/spa.svg")
              span Spa
            li
              img(src="../images/icons/spa.svg")
              span Spa
            li
              img(src="../images/icons/spa.svg")
              span Spa
            li
              img(src="../images/icons/spa.svg")
              span Spa
            li
              img(src="../images/icons/spa.svg")
              span Spa
            li
              img(src="../images/icons/spa.svg")
              span Spa
        .swiper-pagination
        .swiper-button-prev
        .swiper-button-next