section.light.section-padding.ammenties
  .container
    .clearfix
      .ammenties-slider-wrapper.pull-start
        h1.heading Available Amenities:
        .ammenties-slider.swiper-container
          .swiper-wrapper
            ul.swiper-slide
              li
                img(src="../images/icons/spa.svg")
                span Spa
              li
                img(src="../images/icons/spa.svg")
                span Spa
              li
                img(src="../images/icons/spa.svg")
                span Spa
              li
                img(src="../images/icons/spa.svg")
                span Spa
              li
                img(src="../images/icons/spa.svg")
                span Spa
              li
                img(src="../images/icons/spa.svg")
                span Spa
            ul.swiper-slide
              li
                img(src="../images/icons/spa.svg")
                span Spa
              li
                img(src="../images/icons/spa.svg")
                span Spa
              li
                img(src="../images/icons/spa.svg")
                span Spa
              li
                img(src="../images/icons/spa.svg")
                span Spa
              li
                img(src="../images/icons/spa.svg")
                span Spa
              li
                img(src="../images/icons/spa.svg")
                span Spa
            ul.swiper-slide
              li
                img(src="../images/icons/spa.svg")
                span Spa
              li
                img(src="../images/icons/spa.svg")
                span Spa
              li
                img(src="../images/icons/spa.svg")
                span Spa
              li
                img(src="../images/icons/spa.svg")
                span Spa
              li
                img(src="../images/icons/spa.svg")
                span Spa
              li
                img(src="../images/icons/spa.svg")
                span Spa
          .swiper-pagination
          .swiper-button-prev
          .swiper-button-next
      .ammenties-map-wrapper.pull-end
        .map-details-click
          img(src="../images/content/map-before.jpg")
          span.show-map Show on masterplan
        .map-details.hidden      
          img(src="../images/content/villa.jpg")
          span.close-map Close masterplan