.home-slider__wrapper.swiper-container(lang="ar")
	.swiper-wrapper
		each i in new Array(5)
			.swiper-slide(style="background: url(images/content/home-banner.png); background-repeat: no-repeat; background-size: cover;")
				.home-slider-title
					p خُلقنا
					span لنَقُود
					a.arrow-link.arrow-link--white(href="#") تحقق من المجتمعات
a.scroll-down(href="#vision") انزل لاسفل
	.swiper-pagination
.about-wrapper#vision(lang="ar")
	.container
		.cols.cols--2
			.col
				.about-content-wrapper.animate
					h1.sub-title رؤيتنا
					p.description هدف رؤيتنا إلى تصميم، وبناء مجتمعات مستدامة وحيوية، حيث يتم توظيف جميع المساحات لتوفير أقصى درجات الراحة لإضافة
				.about-content-wrapper.animate
					h1.sub-title مهمتنا
					p.description مهمتنا هي الاستثمار في تطوير مشروعات سكنية وتجارية معاصرة، تعكس كل ما يحتاجه السكان. نحن نعمل على تطوير بيئة مستدامة للحياة، وليس مجرد مشروعات
			.col
				.about-image-wrapper
					img.animate(src="images/content/about-1.jpg" alt="Vision")
					img.animate(src="images/content/about-2.jpg" alt="Mision")
.counters-wrapper
	p.animate 
		span.counter ٤ 
		span.counter-description المشاريع
	p.animate
		span.counter ٤،٨٠٠
		span.counter-description العائلات
section.dark.shop-slider-wrapper
	.shop-slider.swiper-container
		ul.list.swiper-wrapper
			li.swiper-slide
				.cols
					.col
						h1.heading استمتع بتجربة تسوق غير مسبوقة!
						p.description في ستون ستريت، ستتمتع بتجربة فريدة للتسوق، حيث سيمكنك الاختيار من بين أرقى الماركات العالمية، مع أفضل المطاعم التي تلبي جميع الأذواق. PRE  ستضمن عبر تجربة التسوق أقصى درجات الراحة والسعادة والتنوع، للعملاء والزائرين
					.col
						img(src="../images/content/shop-1.jpg")
			li.swiper-slide
				.cols
					.col
						h1.heading استمتع بتجربة تسوق غير مسبوقة!
						p.description في ستون ستريت، ستتمتع بتجربة فريدة للتسوق، حيث سيمكنك الاختيار من بين أرقى الماركات العالمية، مع أفضل المطاعم التي تلبي جميع الأذواق. PRE  ستضمن عبر تجربة التسوق أقصى درجات الراحة والسعادة والتنوع، للعملاء والزائرين
					.col
						img(src="../images/content/shop-1.jpg")
			li.swiper-slide
				.cols
					.col
						h1.heading استمتع بتجربة تسوق غير مسبوقة!
						p.description في ستون ستريت، ستتمتع بتجربة فريدة للتسوق، حيث سيمكنك الاختيار من بين أرقى الماركات العالمية، مع أفضل المطاعم التي تلبي جميع الأذواق. PRE  ستضمن عبر تجربة التسوق أقصى درجات الراحة والسعادة والتنوع، للعملاء والزائرين
					.col
						img(src="../images/content/shop-1.jpg")
		.swiper-pagination
.our-communities-wrapper(lang="ar")
	.container.container--narrow
		.cols.cols--2
			.col
				h1.heading.animate مجتمعاتنا
				.community-description.animate
					img(src="images/content/community-1.jpg" alt="Community 1")
					.community-description-wrapper
						p.description القاهرة الجديدة
						p.heading-secondary ستون ريزيدنس
						a.arrow-link.arrow-link--yellow تحقق المجتمع
				.community-description.animate
					img(src="images/content/community-4.jpg" alt="Community 2")
					.community-description-wrapper
						p.description القاهرة الجديدة
						p.heading-secondary ستون ستريت
						a.arrow-link.arrow-link--yellow تحقق المجتمع
			.col
				.community-description.animate
					img(src="images/content/community-3.jpg" alt="Community 3")
					.community-description-wrapper
						p.description السادس من اكتوبر
						p.heading-secondary هضبة
						a.arrow-link.arrow-link--yellow تحقق المجتمع
				.community-description.animate
					img(src="images/content/community-4.jpg" alt="Community 4")
					.community-description-wrapper
						p.description السخنة
						p.heading-secondary چبال
						a.arrow-link.arrow-link--yellow تحقق المجتمع
.partners-wrapper.container(lang="ar")
	ul.list.list--inline
		li
			img(src="images/content/partner-1.svg" alt="Stone Street")
		li
			img(src="images/content/partner-2.svg" alt="Stone Residence")
		li
			img(src="images/content/partner-3.svg" alt="City Stars")
		li
			img(src="images/content/partner-4.svg" alt="Downtown Katameya")
section.dark.section-padding.news-wrapper(lang="ar")
	.container
		.centered
			h1.heading.animate الأخبار والتحديثات
			a.corner-borders.desktop-only(href="#") جميع الأحداث
		.news-slider.swiper-container
			ul.swiper-wrapper
				li.swiper-slide.news-img-wrapper
					img(src="../images/content/news-1.jpg")
					.news-content-wrapper
						.wrapper
							p.description ٢٠ يناير ٢٠٢٠
							p.sub-title ستون ستريت القاهرة الجديدة يسلم قريبا..
							p.arrow-link.arrow-link--yellow اقرأ المقال كاملاً
				li.swiper-slide.news-img-wrapper
					img(src="../images/content/news-1.jpg")
					.news-content-wrapper
						.wrapper
							p.description ٢٠ يناير ٢٠٢٠
							p.sub-title ستون ستريت القاهرة الجديدة يسلم قريبا..
							p.arrow-link.arrow-link--yellow اقرأ المقال كاملاً
				li.swiper-slide.news-img-wrapper
					img(src="../images/content/news-1.jpg")
					.news-content-wrapper
						.wrapper
							p.description ٢٠ يناير ٢٠٢٠
							p.sub-title ستون ستريت القاهرة الجديدة يسلم قريبا..
							p.arrow-link.arrow-link--yellow اقرأ المقال كاملاً
				li.swiper-slide.news-img-wrapper
					img(src="../images/content/news-1.jpg")
					.news-content-wrapper
						.wrapper
							p.description ٢٠ يناير ٢٠٢٠
							p.sub-title ستون ستريت القاهرة الجديدة يسلم قريبا..
							p.arrow-link.arrow-link--yellow اقرأ المقال كاملاً
				li.swiper-slide.news-img-wrapper
					img(src="../images/content/news-1.jpg")
					.news-content-wrapper
						.wrapper
							p.description ٢٠ يناير ٢٠٢٠
							p.sub-title ستون ستريت القاهرة الجديدة يسلم قريبا..
							p.arrow-link.arrow-link--yellow اقرأ المقال كاملاً
				li.swiper-slide
		a.corner-borders.mobile-only(href="#") جميع الأحداث
section.light.home-happening-slider.section-padding(lang="ar")
	.container
		.centered
			h1.heading يحدث في مجتمعنا
			a.corner-borders.desktop-only جميع الاحداث
		.events-slider.swiper-container
			ul.swiper-wrapper
				li.swiper-slide
					.events-img-wrapper
						img(src="../images/content/events-1.jpg")
						.events-content-wrapper
							.events-date-details
								ul.list
									li.heading-small ١
									li.description فنون وثقافة
									li.heading-small ١ مارس ٢٠٢٠
								p.sub-title إفتتاح ستون ستريت مع عمرو دياب والمزيد
								p.description الرسالة ، التي كتبها اتحاد الصناعات الإبداعية (CIF) والموجهة لتمويل المنظمات الإبداعية والمهنيين
								p.arrow-link.arrow-link--yellow تفاصيل الحدث
				li.swiper-slide
					.events-img-wrapper
						img(src="../images/content/events-1.jpg")
						.events-content-wrapper
							.events-date-details
								ul.list
									li.heading-small ٢
									li.description فنون وثقافة
									li.heading-small ١ مارس ٢٠٢٠
								p.sub-title إفتتاح ستون ستريت مع عمرو دياب والمزيد
								p.description الرسالة ، التي كتبها اتحاد الصناعات الإبداعية (CIF) والموجهة لتمويل المنظمات الإبداعية والمهنيين
								p.arrow-link.arrow-link--yellow تفاصيل الحدث
				li.swiper-slide
					.events-img-wrapper
						img(src="../images/content/events-1.jpg")
						.events-content-wrapper
							.events-date-details
								ul.list
									li.heading-small ٣
									li.description فنون وثقافة
									li.heading-small ١ مارس ٢٠٢٠
								p.sub-title إفتتاح ستون ستريت مع عمرو دياب والمزيد
								p.description الرسالة ، التي كتبها اتحاد الصناعات الإبداعية (CIF) والموجهة لتمويل المنظمات الإبداعية والمهنيين
								p.arrow-link.arrow-link--yellow تفاصيل الحدث
				li.swiper-slide
					.events-img-wrapper
						img(src="../images/content/events-1.jpg")
						.events-content-wrapper
							.events-date-details
								ul.list
									li.heading-small ٤
									li.description فنون وثقافة
									li.heading-small ١ مارس ٢٠٢٠
								p.sub-title إفتتاح ستون ستريت مع عمرو دياب والمزيد
								p.description الرسالة ، التي كتبها اتحاد الصناعات الإبداعية (CIF) والموجهة لتمويل المنظمات الإبداعية والمهنيين
								p.arrow-link.arrow-link--yellow تفاصيل الحدث
				li.swiper-slide
					.events-img-wrapper
						img(src="../images/content/events-1.jpg")
						.events-content-wrapper
							.events-date-details
								ul.list
									li.heading-small ٥
									li.description فنون وثقافة
									li.heading-small ١ مارس ٢٠٢٠
								p.sub-title إفتتاح ستون ستريت مع عمرو دياب والمزيد
								p.description الرسالة ، التي كتبها اتحاد الصناعات الإبداعية (CIF) والموجهة لتمويل المنظمات الإبداعية والمهنيين
								p.arrow-link.arrow-link--yellow تفاصيل الحدث
		a.corner-borders.mobile-only(href="#") جميع الأحداث
.contact-form-wrapper(lang="ar")
	.container
		h1.heading  اطلب جولة شخصية
		form.contact-form(action="")
			.contact-form-row.form-checkboxes-wrapper
				.input-group.input-checkbox
					input(type="checkbox" name="stone-residence" id="stone-residence")
					label(for="stone-residence") ستون ريزيدنس
				.input-group.input-checkbox
					input(type="checkbox" name="stone-street" id="stone-street")
					label(for="stone-street") ستون ستريت
				.input-group.input-checkbox
					input(type="checkbox" name="elhadaba" id="elhadaba")
					label(for="elhadaba") چبال
				.input-group.input-checkbox
					input(type="checkbox" name="cb" id="cb1")
					label(for="cb1") هضبة
			.contact-form-row
				.input-group.input-feild
					input(value="" class="form-control" type="text" name="name" id="name" required="required" placeholder="الاسم كامل")
					label(for="name") اسم
				.input-group.input-feild
					input(value="" class="form-control" type="text" name="email" id="email" required="required" placeholder="ex@email.com")
					label(for="email") ايميل
				.input-group.input-feild
					input(value="" class="form-control" type="text" name="phone" id="phone" required="required" placeholder="ex: +20010177159")
					label(for="email") موبايل
				.input-group.input-feild
					input(value="" class="form-control" type="text" name="reason" id="reason" required="required" placeholder="سكني")
					label(for="email") السبب