section.light.careers-banner-wrapper
  .careers-banner.container
    h1.heading Become Part of the Team
    img(src="../images/content/career-banner.jpg")
    .career-banner-slider.swiper-container
      ul.swiper-wrapper
        li.swiper-slide
          h2.career-title Explore Our Culture:
          p.description PRE fosters an energetic culture with strong emphasis on teamwork, dedication and passion. Our culture is contagious in a sense that it brings us all together unified, strong and motivated to do our best.
        li.swiper-slide
          h2.career-title Explore Our Culture:
          p.description PRE fosters an energetic culture with strong emphasis on teamwork, dedication and passion. Our culture is contagious in a sense that it brings us all together unified, strong and motivated to do our best.
        li.swiper-slide
          h2.career-title Explore Our Culture:
          p.description PRE fosters an energetic culture with strong emphasis on teamwork, dedication and passion. Our culture is contagious in a sense that it brings us all together unified, strong and motivated to do our best.
      .swiper-pagination
      .swiper-button-prev
      .swiper-button-next
section.container.jobs
  .career-lists.clearfix
    ul.list.pull-start
      li
        .career-option-wrapper
          h1.heading Account Manager
          h2 Responsibilities
          ul.list
            li.description - Design content marketing strategies and set short-term goals
            li.description - Undertake content marketing initiatives to achieve business targets
            li.description - Collaborate with design and writing teams to produce high quality content
            li.description - Develop editorial calendar, delegate tasks and ensure deadlines are met
            li.description - Receive customer feedback and generate ideas to increase customer engagemen
    .career-details.pull-end
      ul
        li.time
          .event-sub-wrapper
            span.description-small Time
            span.heading-small 8 pm - 12 pm
        li.location
          .event-sub-wrapper
            span.description-small Location
            span.heading-small Downtown, Newcairo
  .career-lists.clearfix
    ul.list.pull-start
      li
        .career-option-wrapper
          h1.heading Account Manager
          h2 Responsibilities
          ul.list
            li.description - Design content marketing strategies and set short-term goals
            li.description - Undertake content marketing initiatives to achieve business targets
            li.description - Collaborate with design and writing teams to produce high quality content
            li.description - Develop editorial calendar, delegate tasks and ensure deadlines are met
            li.description - Receive customer feedback and generate ideas to increase customer engagemen
    .career-details.pull-end
      ul
        li.time
          .event-sub-wrapper
            span.description-small Time
            span.heading-small 8 pm - 12 pm
        li.location
          .event-sub-wrapper
            span.description-small Location
            span.heading-small Downtown, Newcairo
    
