.community-banner-wrapper
  .video-banner-wrapper(style="background: url(images/content/community-details.jpg); background-repeat: no-repeat;")
    .play-video-link
      a(href="#") Play Video
    .container
      .video-banner-container
        .video-banner-content.animate
          .centered
            a.visit-link Request a visit
            img(src="../images/content/stone-logo.svg")
          h1.heading.animate Contemplating Luxury and Creating Homes!
          p.description.animate Following Stone Park’s mesmerizing success, we developed Stone Residence.  The main purpose of the project was, and still is, to create homes that are personalized and tailored to each one of our clients. Every space is optimized and well thought of to create a community rather than building mere blocks.
          p.description.animate Stone Residence encompasses 142 blocks, embracing 462 buildings; each building consists of eight apartments with flexible spaces. Stone Residence highlights freedom through all aspects to create the finest living experience.
      //- a.download(href="#" download) Download brochure