.community-slider.swiper-container
  ul.list.swiper-wrapper
    li.swiper-slide
      .swiper-slide-bk-wrapper(style="background-image: url(images/content/community-banner.jpg)")
        .community-slide-content
          p.description New Cairo
          h1.heading Stone 
            span Residence 
          p.description With its lively location, Stone Residence is destined to give its residence the ultimate luxurious living experience where each unit is personalized to match our clients’ needs and wants
          a.arrow-link.arrow-link--yellow(href="community-details.html") Check Community
          a.request-tour(href="community-details.html#tour") Request A Tour
    li.swiper-slide
      .swiper-slide-bk-wrapper(style="background-image: url(images/content/community-banner.jpg)")
        .community-slide-content
          p.description New Cairo
          h1.heading Stone Residence 
          p.description With its lively location, Stone Residence is destined to give its residence the ultimate luxurious living experience where each unit is personalized to match our clients’ needs and wants
          a.arrow-link.arrow-link--yellow(href="community-details.html") Check Community
          a.request-tour(href="community-details.html#tour") Request A Tour
    li.swiper-slide
      .swiper-slide-bk-wrapper(style="background-image: url(images/content/community-banner.jpg)")
        .community-slide-content
          p.description New Cairo
          h1.heading Stone Residence 
          p.description With its lively location, Stone Residence is destined to give its residence the ultimate luxurious living experience where each unit is personalized to match our clients’ needs and wants
          a.arrow-link.arrow-link--yellow(href="community-details.html") Check Community
          a.request-tour(href="community-details.html#tour") Request A Tour
    li.swiper-slide
      .swiper-slide-bk-wrapper(style="background-image: url(images/content/community-banner.jpg)")
        .community-slide-content
          p.description New Cairo
          h1.heading Stone Residence 
          p.description With its lively location, Stone Residence is destined to give its residence the ultimate luxurious living experience where each unit is personalized to match our clients’ needs and wants
          a.arrow-link.arrow-link--yellow(href="community-details.html") Check Community
          a.request-tour(href="community-details.html#tour") Request A Tour
  .swiper-pagination