.community-slider.swiper-container
  ul.list.swiper-wrapper
    li.swiper-slide(style="background-image: url(images/content/community-banner.jpg)")
      .community-slide-content
        p.description New Cairo
        h1.heading Stone 
          span Residence 
        p.description With its lively location, Stone Residence is destined to give its residence the ultimate luxurious living experience where each unit is personalized to match our clients’ needs and wants
        a(href="#") Check Community
    li.swiper-slide(style="background-image: url(images/content/community-banner.jpg)")
      .community-slide-content
        p.description New Cairo
        h1.heading Stone Residence 
        p.description With its lively location, Stone Residence is destined to give its residence the ultimate luxurious living experience where each unit is personalized to match our clients’ needs and wants
        a(href="#") Check Community
    li.swiper-slide(style="background-image: url(images/content/community-banner.jpg)")
      .community-slide-content
        p.description New Cairo
        h1.heading Stone Residence 
        p.description With its lively location, Stone Residence is destined to give its residence the ultimate luxurious living experience where each unit is personalized to match our clients’ needs and wants
        a(href="#") Check Community
    li.swiper-slide(style="background: url(images/content/community-banner.jpg)")
      .community-slide-content
        p.description New Cairo
        h1.heading Stone Residence 
        p.description With its lively location, Stone Residence is destined to give its residence the ultimate luxurious living experience where each unit is personalized to match our clients’ needs and wants
        a(href="#") Check Community
  .swiper-pagination