.conact-us-wrapper(style="background: url(images/content/contact-us.jpg);  background-size: 50% cover; background-position: right; background-repeat: no-repeat;")
  .container
    h1.heading Let’s Get in Touch
    .contact-map-wrapper
      img(src="/images/content/contact-us-placeholder.jpg")
.contact-info-wrapper
  ul.list
    li
      p.description 165 El-Zohour, Sheraton Al Matar, El Nozha, Cairo Governorate
    li
      a.description(href="") info@predevelopment.com
    li
      a.description(href="") 010 000 000 00