.conact-us-wrapper(style="background: url(images/content/contact-us.jpg);  background-size: contain; background-repeat: no-repeat;")
  .container
    h1.heading Let’s Get in Touch
    .contact-map-wrapper
      a(href="")
        img(src="/images/content/contact-us-placeholder.jpg")
.contact-info-wrapper
  ul.list
    li
      p.description 165 El-Zohour, Sheraton Al Matar, El Nozha, Cairo Governorate
    li
      a(href="mailto:@predevelopment.com").descriptioninfo@predevelopment.com
    li
      a(href="tel:+010 000 000 00").description 010 000 000 00