section.container.section-padding.light.desktop-only
  .cols.cols--no-gutter.cols--3.equal-height.grid-banner-wrapper
    .col
      img(src="../images/content/event-grid.jpg")
    .col
      img(src="../images/content/event-grid-1.jpg")
      img(src="../images/content/event-grid-2.jpg")
    .col
      img(src="../images/content/event-grid-3.jpg")
section.section-padding.light.mobile-only
  .grid-banner-wrapper-slider.swiper-container
    .equal-height.swiper-wrapper
      .swiper-slide
        img(src="../images/content/event-grid.jpg")
      .swiper-slide
        img(src="../images/content/event-grid-1.jpg")
        img(src="../images/content/event-grid-2.jpg")
      .swiper-slide
        img(src="../images/content/event-grid-3.jpg")
