section.light.home-happening-slider.section-padding
	.container
		.centered
			h1.heading Happening in our community
			a.corner-borders.desktop-only Check all events 
		.events-slider.swiper-container
			ul.swiper-wrapper
				li.swiper-slide
					.events-img-wrapper
						img(src="../images/content/events-1.jpg")
						.events-content-wrapper
							.events-date-details
								ul.list
									li.heading-small 01 
									li.description Arts & Culture
									li.heading-small 1 .  Mar . 2020
								p.sub-title Stone Street grand opening with Amr Diab & more
								p.description The letter, which is written by Creative Industries Federation (CIF) and addressed to fuand professionals…
								p.arrow-link.arrow-link--yellow Explore event details			
				li.swiper-slide
					.events-img-wrapper
						img(src="../images/content/events-1.jpg")
						.events-content-wrapper
							.events-date-details
								ul.list
									li.heading-small 02
									li.description Arts & Culture
									li.heading-small 1 .  Mar . 2020
								p.sub-title Stone Street grand opening with Amr Diab & more
								p.description The letter, which is written by Creative Industries Federation (CIF) and addressed to fuand professionals…
								p.arrow-link.arrow-link--yellow Explore event details
				li.swiper-slide
					.events-img-wrapper
						img(src="../images/content/events-1.jpg")
						.events-content-wrapper
							.events-date-details
								ul.list
									li.heading-small 03
									li.description Arts & Culture
									li.heading-small 1 .  Mar . 2020
								p.sub-title Stone Street grand opening with Amr Diab & more
								p.description The letter, which is written by Creative Industries Federation (CIF) and addressed to fuand professionals…
								p.arrow-link.arrow-link--yellow Explore event details
				li.swiper-slide
					.events-img-wrapper
						img(src="../images/content/events-1.jpg")
						.events-content-wrapper
							.events-date-details
								ul.list
									li.heading-small 04
									li.description Arts & Culture
									li.heading-small 1 .  Mar . 2020
								p.sub-title Stone Street grand opening with Amr Diab
								p.description The letter, which is written by Creative Industries Federation (CIF) and addressed to fuand professionals…
								p.arrow-link.arrow-link--yellow Explore event details
				li.swiper-slide
					.events-img-wrapper
						img(src="../images/content/events-1.jpg")
						.events-content-wrapper
							.events-date-details
								ul.list
									li.heading-small 05
									li.description Arts & Culture
									li.heading-small 1 .  Mar . 2020
								p.sub-title Stone Street grand opening with Amr Diab
								p.description The letter, which is written by Creative Industries Federation (CIF) and addressed to fuand professionals…
								p.arrow-link.arrow-link--yellow Explore event details
		a.corner-borders.mobile-only Check all events 