section.dark.section-padding.news-wrapper
	.container
		.news-heading.clearfix
			h1.heading.animate.pull-start News and Updates
			a.desktop-only.pull-end.square-link(href="#") Check all news
		.news-slider.swiper-container
			ul.swiper-wrapper
				li.swiper-slide.news-img-wrapper
					img(src="../images/content/news-1.jpg")
					.news-content-wrapper
						.wrapper
							p.description Jan 20 . 2020
							p.sub-title Stone Street New Cairo Delivering Soon..
							p.arrow-link.arrow-link--yellow Read full article
				li.swiper-slide.news-img-wrapper
					img(src="../images/content/news-1.jpg")
					.news-content-wrapper
						.wrapper
							p.description Jan 20 . 2020
							p.sub-title Stone Street New Cairo Delivering Soon..
							p.arrow-link.arrow-link--yellow Read full article
				li.swiper-slide.news-img-wrapper
					img(src="../images/content/news-1.jpg")
					.news-content-wrapper
						.wrapper
							p.description Jan 20 . 2020
							p.sub-title Stone Street New Cairo Delivering Soon..
							p.arrow-link.arrow-link--yellow Read full article
				li.swiper-slide.news-img-wrapper
					img(src="../images/content/news-1.jpg")
					.news-content-wrapper
						.wrapper
							p.description Jan 20 . 2020
							p.sub-title Stone Street New Cairo Delivering Soon..
							p.arrow-link.arrow-link--yellow Read full article
				li.swiper-slide.news-img-wrapper
					img(src="../images/content/news-1.jpg")
					.news-content-wrapper
						.wrapper
							p.description Jan 20 . 2020
							p.sub-title Stone Street New Cairo Delivering Soon..
							p.arrow-link.arrow-link--yellow Read full article
				li.swiper-slide.news-img-wrapper
					img(src="../images/content/news-1.jpg")
					.news-content-wrapper
						.wrapper
							p.description Jan 20 . 2020
							p.sub-title Stone Street New Cairo Delivering Soon..
							p.arrow-link.arrow-link--yellow Read full article
				li.swiper-slide