section.header-section-padding.news-banner-wrapper
  .container
    h1.heading Our latest News
    .news-img-wrapper
      img(src="../images/content/news-banner.jpg")
      .news-content-wrapper
        .wrapper
          p.description Jan 20 . 2020
          p.sub-title Stone Street New Cairo Delivering Soon..
          p.arrow-link.arrow-link--yellow Read full article
section.light.section-padding
  .container.container--narrow
    .cols.cols--3.all-news-grid
      .col
        .news-img-wrapper
          img(src="../images/content/news-banner.jpg")
          .news-content-wrapper
            .wrapper
              p.description Jan 20 . 2020
              p.sub-title Stone Street New Cairo Delivering Soon..
              p.arrow-link.arrow-link--yellow Read full article
        .news-img-wrapper
          img(src="../images/content/news-banner.jpg")
          .news-content-wrapper
            .wrapper
              p.description Jan 20 . 2020
              p.sub-title Stone Street New Cairo Delivering Soon..
              p.arrow-link.arrow-link--yellow Read full article
        .news-img-wrapper
          img(src="../images/content/news-banner.jpg")
          .news-content-wrapper
            .wrapper
              p.description Jan 20 . 2020
              p.sub-title Stone Street New Cairo Delivering Soon..
              p.arrow-link.arrow-link--yellow Read full article
      .col
        .news-img-wrapper
          img(src="../images/content/news-banner.jpg")
          .news-content-wrapper
            .wrapper
              p.description Jan 20 . 2020
              p.sub-title Stone Street New Cairo Delivering Soon..
              p.arrow-link.arrow-link--yellow Read full article
        .news-img-wrapper
          img(src="../images/content/news-banner.jpg")
          .news-content-wrapper
            .wrapper
              p.description Jan 20 . 2020
              p.sub-title Stone Street New Cairo Delivering Soon..
              p.arrow-link.arrow-link--yellow Read full article
        .news-img-wrapper
          img(src="../images/content/news-banner.jpg")
          .news-content-wrapper
            .wrapper
              p.description Jan 20 . 2020
              p.sub-title Stone Street New Cairo Delivering Soon..
              p.arrow-link.arrow-link--yellow Read full article
      .col
        .news-img-wrapper
          img(src="../images/content/news-banner.jpg")
          .news-content-wrapper
            .wrapper
              p.description Jan 20 . 2020
              p.sub-title Stone Street New Cairo Delivering Soon..
              p.arrow-link.arrow-link--yellow Read full article
        .news-img-wrapper
          img(src="../images/content/news-banner.jpg")
          .news-content-wrapper
            .wrapper
              p.description Jan 20 . 2020
              p.sub-title Stone Street New Cairo Delivering Soon..
              p.arrow-link.arrow-link--yellow Read full article
        .news-img-wrapper
          img(src="../images/content/news-banner.jpg")
          .news-content-wrapper
            .wrapper
              p.description Jan 20 . 2020
              p.sub-title Stone Street New Cairo Delivering Soon..
              p.arrow-link.arrow-link--yellow Read full article