.our-communities-wrapper
  .container.container--narrow
    .cols.cols--2
      .col
        h1.heading.animate Our Communities
        .community-description.animate
          img(src="images/content/community-1.jpg" alt="Community 1")
          .community-description-wrapper
            p.description New Cairo
            p.heading-secondary Stone Residence
            a.arrow-link.arrow-link--yellow Check Community
        .community-description.animate
          img(src="images/content/community-4.jpg" alt="Community 2")
          .community-description-wrapper
            p.description New Cairo
            p.heading-secondary Stone Residence
            a.arrow-link.arrow-link--yellow Check Community
      .col
        .community-description.animate
          img(src="images/content/community-3.jpg" alt="Community 3")
          .community-description-wrapper
            p.description New Cairo
            p.heading-secondary Stone Residence
            a.arrow-link.arrow-link--yellow Check Community
        .community-description.animate
          img(src="images/content/community-4.jpg" alt="Community 4")
          .community-description-wrapper
            p.description New Cairo
            p.heading-secondary Stone Residence
            a.arrow-link.arrow-link--yellow Check Community
          