.container
  .partners-wrapper.mobile-only.swiper-container
    ul.list.list--inline.swiper-wrapper
      li.swiper-slide
        img(src="images/content/partner-1.svg" alt="Stone Street")
      li.swiper-slide
        img(src="images/content/partner-2.svg" alt="Stone Residence")
      li.swiper-slide
        img(src="images/content/partner-3.svg" alt="City Stars")
      li.swiper-slide
        img(src="images/content/partner-4.svg" alt="Downtown Katameya")
.container
  .partners-wrapper.desktop-only
    ul.list.list--inline
      li
        img(src="images/content/partner-1.svg" alt="Stone Street")
      li
        img(src="images/content/partner-2.svg" alt="Stone Residence")
      li
        img(src="images/content/partner-3.svg" alt="City Stars")
      li
        img(src="images/content/partner-4.svg" alt="Downtown Katameya")