section.dark.shop-slider-wrapper
  .shop-slider.swiper-container
    ul.list.swiper-wrapper
      li.swiper-slide
        .cols
          .col
            h1.heading Shop Your Desires Away
            p.description Enjoy a unique shopping experience at Stone Street, navigating between world-class brands while experiencing fine dining at top-notch restaurants. PRE structures the ultimate shopping experience guaranteeing its customers and users pleasure, convenience and eloquence
          .col
            img(src="../images/content/shop-1.jpg")
      li.swiper-slide
        .cols
          .col
            h1.heading Shop Your Desires Away
            p.description Enjoy a unique shopping experience at Stone Street, navigating between world-class brands while experiencing fine dining at top-notch restaurants. PRE structures the ultimate shopping experience guaranteeing its customers and users pleasure, convenience and eloquence
          .col
            img(src="../images/content/shop-1.jpg")
      li.swiper-slide
        .cols
          .col
            h1.heading Shop Your Desires Away
            p.description Enjoy a unique shopping experience at Stone Street, navigating between world-class brands while experiencing fine dining at top-notch restaurants. PRE structures the ultimate shopping experience guaranteeing its customers and users pleasure, convenience and eloquence
          .col
            img(src="../images/content/shop-1.jpg")
    .swiper-pagination