section.unique-location.dark.section-padding
	.container
		.flex-centered
			h1.heading Unique Location
			p.description Built on a land area of 600,000 SQM, Stone Residence’s well-suited location on the Ring Road makes it accessible from and to other lively areas.
			img(src="../images/content/map.svg")