.swiper-container.unit-slider-wrapper
	ul.swiper-wrapper
		li.swiper-slide
			.grid-slide
				img(src="../images/content/unit-detail-banner-1.jpg")
				img(src="../images/content/unit-detail-banner-2.jpg")
		li.swiper-slide
			img(src="../images/content/unit-detail-banner.jpg")
		li.swiper-slide
			.grid-slide
				img(src="../images/content/unit-detail-banner-1.jpg")
				img(src="../images/content/unit-detail-banner-3.jpg")
		li.swiper-slide
			img(src="../images/content/unit-detail-banner-3.jpg")
		li.swiper-slide
			.grid-slide
				img(src="../images/content/unit-detail-banner-1.jpg")
				img(src="../images/content/unit-detail-banner-3.jpg")
		li.swiper-slide
			img(src="../images/content/unit-detail-banner-3.jpg")
		li.swiper-slide
			.grid-slide
				img(src="../images/content/unit-detail-banner-1.jpg")
				img(src="../images/content/unit-detail-banner-2.jpg")
		li.swiper-slide
			img(src="../images/content/unit-detail-banner-3.jpg")
.unit-details-content
	.banner-content-wrapper 
		.cols.cols--no-gutter.cols--5
			.col
			.col.col--two-fifths
				.banner-content
					.banner-details
						p.date 1 March 2020
						p.category Full Furnished
					h1.heading Villa Type A
					ul.list.unit-details-ammenities
						li 570 ~ 800 M
						li 2
						li 130 sq2
					p.description Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
					p.description Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
					p.description Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor.
