.swiper-container.unit-slider-wrapper
	ul.swiper-wrapper
		li.swiper-slide
			.grid-slide
				img(src="../images/content/unit-detail-banner-1.jpg")
				img(src="../images/content/unit-detail-banner-2.jpg")
		li.swiper-slide
			img(src="../images/content/unit-detail-banner.jpg")
		li.swiper-slide
			.grid-slide
				img(src="../images/content/unit-detail-banner-1.jpg")
				img(src="../images/content/unit-detail-banner-3.jpg")
		li.swiper-slide
			img(src="../images/content/unit-detail-banner-3.jpg")
		li.swiper-slide
			.grid-slide
				img(src="../images/content/unit-detail-banner-1.jpg")
				img(src="../images/content/unit-detail-banner-3.jpg")
		li.swiper-slide
			img(src="../images/content/unit-detail-banner-3.jpg")
		li.swiper-slide
			.grid-slide
				img(src="../images/content/unit-detail-banner-1.jpg")
				img(src="../images/content/unit-detail-banner-2.jpg")
		li.swiper-slide
			img(src="../images/content/unit-detail-banner-3.jpg")
