section.dark.section-padding.unit-details-section
  h1.align-center.heading Unit Types
  ul.filter-units
    li.category-white All Types
    li.category-white Villas 
    li.category-white Twin House
    li.category-white Apartments
    span.list-view.active
    span.grid-view
  .unit-types-slider.swiper-container
    ul.list.swiper-wrapper
      li.swiper-slide
        .unit-types-content-wrapper
          img(src="../images/content/villas-unit.jpg")
          .unit-types-content
            span Twin House
            h1.heading Type M
            ul.unit-types-list
              li.size 570 ~ 800 M
              li.bathrooms 2
              li.meters 130 sq2
            a(href="#").arrow-link.arrow-link--yellow Explore Type details
      li.swiper-slide
        .unit-types-content-wrapper
          img(src="../images/content/villas-unit.jpg")
          .unit-types-content
            span Twin House
            h1.heading Type M
            ul.unit-types-list
              li.size 570 ~ 800 M
              li.bathrooms 2
              li.meters 130 sq2
            a(href="#").arrow-link.arrow-link--yellow Explore Type details
      li.swiper-slide
        .unit-types-content-wrapper
          img(src="../images/content/villas-unit.jpg")
          .unit-types-content
            span Twin House
            h1.heading Type M
            ul.unit-types-list
              li.size 570 ~ 800 M
              li.bathrooms 2
              li.meters 130 sq2
            a(href="#").arrow-link.arrow-link--yellow Explore Type details
      li.swiper-slide
        .unit-types-content-wrapper
          img(src="../images/content/villas-unit.jpg")
          .unit-types-content
            span Twin House
            h1.heading Type M
            ul.unit-types-list
              li.size 570 ~ 800 M
              li.bathrooms 2
              li.meters 130 sq2
            a(href="#").arrow-link.arrow-link--yellow Explore Type details
            