.form-banner-wrapper(style="background: url(images/content/unit-details-form.jpg);  background-size: 50% cover; background-position: right 90px; background-repeat: no-repeat;") 
  .form-contact-us
    .form-contact-us-wrapper
      legend.heading Send us a message
      form.container
        .cols.cols--2
          .col
            .input-group.input-feild
              input(value="" class="form-control" type="text" name="name" id="name" required="required" placeholder="Full Name")
              label(for="name") Name
          .col
            .input-group.input-feild
              input(value="" class="form-control" type="text" name="name" id="name" required="required" placeholder="Full Name")
              label(for="name") Name
        .cols.cols--2
          .col
            .input-group.input-feild
              input(value="" class="form-control" type="text" name="name" id="name" required="required" placeholder="Full Name")
              label(for="name") Phone
          .col
            .input-group.input-feild
              input(value="" class="form-control" type="text" name="name" id="name" required="required" placeholder="Full Name")
              label(for="name") Reason
        .input-group.input-feild.input-feild-max-width
          input(value="" class="form-control" type="text" name="name" id="name" required="required" placeholder="Full Name")
          label(for="name") Phone
        input.button-primary(type="submit" value="Submit")