.video-banner-wrapper(style="background: url(images/content/about-banner.jpg);")
  .play-video-link
    a(href="#") Play Video
  .video-banner-content.animate
    h1.heading.animate Who Are We?
    p.description.animate Heart and soul about development and bringing the best to the market; Pioneers for Real Estate Developments “PRE” is a real estate investor, developer and operator of integrated mixed-use projects based in Egypt.
    p.description.animate Established in 2017, PRE captures the essence of luxury, privacy and creates exclusive contemporary residential and commercial projects. Advocating for a healthier, wealthier and a sustainable life; PRE developments are a true testimony to the expertise, knowledge and dedication brought daily to establish a brighter future.
    p.description.animate Creating 4 masterpieces; Stone Residence, Stone Street, Hadaba & Jebal El Sokhna in uniquely picked locations around Egypt tailoring natural and the latest technological tools to create sustainable and modern environments.