extends includes/base/_base-layout
block config
	- var page = 'community-details'
block content
	include includes/_community-details-banner
	include includes/_unique-locations
	include includes/_ammenties
	include includes/_grid-banner
	include includes/_contact