extends includes/base/_base-layout
block config
	- var page = 'home'
block content
	include includes/_index
	include includes/_about
	include includes/_counters
	include includes/_shop-your-desire
	include includes/_our-communities
	include includes/_partners
	include includes/_happening-slider
	include includes/_news-section
	include includes/_contact