header.header-fixed
	.header-wrapper.container
		h1.logo-wrapper
			a(href="index.html")
				span.visually-hidden PRE
				img(src="images/logo-white.svg" alt="PRE")
		.header-contact-wrapper
			.header-menu
				span 
				nav.header-nav.hidden
					ul.list.list--inline
						li: a(href="#") Communities
						li: a(href="#") About
						li: a(href="#") Contact us
						li: a(href="#") News
						li: a(href="#") Events
						li: a(href="#") Career			
			.header-contact
				a(href="tel:19965") 19965
